html {
  overflow-y: scroll;
  background: #fff;
}

body {
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans', 'Open Sans', Roboto, sans-serif;
  line-height: 1.5;
}

body,
body *,
body *::before,
body *::afoter {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

abbr[title] {
  cursor: help;
}